@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    .collection-container{
        @apply grid grid-cols-1 mx-2  md:grid-cols-2 lg:grid-cols-3 md:mx-8 gap-4 lg:mx-12
    }
    .collection-image-container{
        @apply bg-white p-7 rounded-md shadow-lg;
        /* height: 400px; */
    }
    .collection-image-container img{
        height: 400px;
        object-fit: cover;
        object-position: center center;
    }
}